* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'Abel';
  src: local('Abel'), url(./fonts/Abel-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}
